# IGNORAR COMPLETAMENTE
omnetpp-4.6
Castalia-3.3
out
bin
CastaliaBin
Castalia-K/Makefile
Simulations/
!Simulations/Parameters

# ignorando arquivos de dados das simulações
Castalia-Trace.txt
breakdown.txt
energy.txt
packets.txt
saida.txt
*.txt

# ignorando arquivo de dados
*.csv

# ignorando arquivos python
__pycache__

# ignorando as outras simulações padrão
AODVTest
BANtest
BridgeTest
connectivityMap
mobilityTest
radioTest
simpleAggregation
valuePropagation
valueReporting

# ignorando pastas com resultados de simulações anteriores
energia
resultados
tempo

# Arquivos compactados
*.zip

# vscode configurations
.vscode

# arquivos de imagens
*.png
*.jpeg
*.jpg
*.gif
*.ps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
