# IGNORAR COMPLETAMENTE
omnetpp-4.6
Castalia-3.3
out
bin
CastaliaBin
AODVTest
BANtest
BridgeTest
connectivityMap
mobilityTest
radioTest
simpleAggregation
valuePropagation
valueReporting

# Arquivos compactados
*.zip

# vscode configurations
.vscode

# arquivos de imagens
*.png
*.jpeg
*.jpg
*.gif
*.ps

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
